<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${title} ?: 'MyLMS'">MyLMS</title>
    <link rel="stylesheet" href="/css/notice%20board/common.css">
</head>
<body>
<!-- 공통 레이아웃 -->
<header th:replace="layout/header :: header"></header>

<div class="wrapper">
    <aside th:replace="layout/sidebar :: sidebar"></aside>

    <!-- 메인 콘텐츠 영역 -->
    <main th:fragment="content">

    </main>
</div>

<footer th:replace="layout/footer :: footer"></footer>

<script src="/js/common.js"></script>
</body>
</html>
