<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>회원정보 수정 | MyLMS</title>
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <link rel="stylesheet" th:href="@{/css/User-info.css}">
    <link rel="stylesheet" th:href="@{/css/User-info-S.css}">
    <link rel="stylesheet" th:href="@{/css/top-menu.css}">
</head>
<body>

<div th:replace="fragments/top-menu :: top"></div>

<div class="content-container">
    <aside id="User-info_S" th:replace="fragments/user-info-sidebar :: sidebar"></aside>
    <main id="User-info"   th:replace="fragments/user-info-main :: main"></main>
</div>

<div th:replace="fragments/footer :: bottom"></div>

<script th:src="@{/js/header.js}"></script>
<script th:src="@{/js/edit.js}"></script>
</body>
</html>