<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>MyLMS</title>
    <link rel="stylesheet" href="/mainpages/css/common.css">
</head>
<body>

<!-- 헤더 프래그먼트 경로를 'mainpages/fragments/header'로 -->
<div th:replace="~{mainpages/fragments/header :: top}"></div>

<div class="content-container">
    <!-- 사이드바 -->
    <div th:replace="~{mainpages/user/profile/sidebar :: sidebar}"></div>

    <!-- 메인 폼 -->
    <div id="User-info"
         th:replace="~{mainpages/user/profile/form :: form}">
    </div>
</div>

<!-- 푸터도 경로 수정 -->
<div th:replace="~{mainpages/fragments/footer :: bottom}"></div>

<script src="/mainpages/js/edit.js"></script>
</body>
</html>