<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>DW Academy - 관리자 메인</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
      <link rel="stylesheet" th:href="@{/css/common.css}">
      <link rel="stylesheet" th:href="@{/css/topbar.css}">
      <link rel="stylesheet" th:href="@{/css/sidebar.css}">
      <link rel="stylesheet" th:href="@{/css/dashboard.css}">
  </head>
  <body>
  <div th:replace="fragments/topbar :: topbar"></div>
  <div th:replace="fragments/sidebar :: sidebar"></div>
  <div th:replace="fragments/dashboard :: dashboard"></div>
  </body>
</html>
